.context-button {
    min-width: 100px;
    /*border-radius: 0;*/
    margin: 2px 0;
}

.context-menu-container {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    /* IT'S OVER 9000! */
    z-index: 9000;
}

.bold {
    font-weight: bold;
}