
.grid-row {
    position: relative;
    clear: both;
    max-height: 400px;
}

.grid-col {
    display: inline-block;
    top: 0;
    margin: 25px;
    min-height: 324px;
    min-width: 324px;
    max-height: 324px;
    max-width: 324px;
    -webkit-box-shadow: 0px 0px 33px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px -7px rgba(0,0,0,0.75);
}