.landingBackground {
    background-color: #272727;
}
.signUpForm {
    left: 25%;
    width: 512px;
    padding: 16px;
    position: absolute;
    margin-top: 24px;
}

.signUpBanner{
    text-align: center;
}

.allButtons {
    width: 80px;
    height: 40px;
}

.signInButton {
    float: right;
}

.signUpButton {
    padding: 4px;
    margin: 15px;
} 