nav {
    font-weight: bold;
    display: inline-block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}

nav a {
    text-decoration: none;
}

#navigation-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
