.playerContainer{
    width: 80%;
    height: 80%;
    position: relative;
    margin-left: 24px;
    margin-top: 24px;
}

.playerMediaControl{
    position: absolute;
    width: 16px;
    height: 16px;
    right: 8px;
    bottom: 8px;
    z-index: 2
}