body {
    background-color: #fff;
}
ContextMenu {
    position: fixed;
    background: white;
    box-shadow: 0px 2px 10px #999999;
}
menuitem {
    padding: 6px 50px 5px 10px;
    min-width: 160px;
    cursor: default;
    font-size: 12px;
}
menuitem:hover {
    background-color:#ffd800;
    color: white;
}
